/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
/* 设置默认字体 */
body,
button,
input,
select,
textarea {
  /* for ie */
  font: 12px/1.3 "Microsoft YaHei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  /* 用 Unicode 字符表示，使得在任何编码下都无问题 */
  color: #333;
}
h1 {
  font-size: 18px;
  /* 18px / 12px = 1.5 */
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
/* 将斜体扶正 */
b,
strong {
  font-weight: normal;
}
/* 将粗体扶细 */
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
/* 重置文本格式元素 */
a {
  text-decoration: none;
  color: #666;
}
/* 重置表单元素 */
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 hr */
hr {
  border: none;
  height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
  overflow-y: scroll;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.topbar {
  height: 30px;
  min-width: 1200px;
  width: 100%;
  line-height: 30px;
  background-color: #eaeaea;
}
.topbar .container {
  display: flex;
  justify-content: space-between;
}
.topbar .container a {
  padding: 0 10px;
}
.topbar .container a:not(:last-child) {
  border-right: 1px solid #b3aeae;
}
.page-header {
  width: 1200px;
  min-width: 1200px;
}
.page-header .container {
  display: flex;
  justify-content: space-between;
}
.page-header .container img {
  width: 175px;
  height: 56px;
  margin: 25px 45px;
}
.page-header .container form {
  margin-top: 35px;
  display: flex;
}
.page-header .container form input {
  box-sizing: border-box;
  width: 490px;
  height: 32px;
  padding: 0 4px;
  border: 2px solid #ea4a36;
  outline: none;
}
.page-header .container form button {
  border: none;
  width: 68px;
  height: 32px;
  background-color: #ea4a36;
  color: #fff;
}
.page-nav {
  border-bottom: 2px solid #e1251b;
  min-width: 1200px;
}
.page-nav .container {
  display: flex;
  height: 50px;
  line-height: 50px;
}
.page-nav .container .all-cates {
  width: 210px;
  text-align: center;
  background-color: #e1251b;
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
}
.page-nav .container nav {
  display: flex;
}
.page-nav .container nav a {
  margin: 0 22px;
  font-size: 16px;
  color: #333;
}
.page-main {
  margin-top: 15px;
  min-width: 1200px;
}
.page-main .container {
  display: flex;
  padding: 9px 15px 9px 0;
}
.page-main .container span:not(:last-child)::after {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc;
}
.page-main .product {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 15px;
  min-width: 1200px;
}
.page-main .product .product-preview {
  width: 400px;
}
.page-main .product .product-preview .zoombox {
  width: 400px;
  position: relative;
  display: flex;
}
.page-main .product .product-preview .zoombox .smallimg {
  width: 400px;
  height: 400px;
  border: 1px solid #dfdfdf;
  position: relative;
  cursor: move;
}
.page-main .product .product-preview .zoombox .smallimg .mask-box {
  width: 200px;
  height: 200px;
  border: 1px solid #dfdfdf;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.page-main .product .product-preview .zoombox .largeimg {
  width: 400px;
  height: 400px;
  border: 1px solid #dfdfdf;
  overflow: hidden;
  position: absolute;
  left: 420px;
  top: 0;
  display: none;
}
.page-main .product .product-preview .zoombox .largeimg img {
  position: absolute;
  left: 0;
  top: 0;
}
.page-main .product .product-preview .thumb-box {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.page-main .product .product-preview .thumb-box button {
  width: 10px;
  height: 54px;
  border: 1px solid #ccc;
  background-color: #e8e8e8;
  cursor: pointer;
}
.page-main .product .product-preview .thumb-box button.prevbtn {
  margin-right: 4px;
}
.page-main .product .product-preview .thumb-box .thumb-content {
  width: 372px;
  height: 56px;
  overflow: hidden;
  position: relative;
}
.page-main .product .product-preview .thumb-box .thumb-content .thumb-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 300ms;
}
.page-main .product .product-preview .thumb-box .thumb-content .thumb-wrapper img {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  padding: 2px;
  margin-right: 20px;
}
.page-main .product .product-box {
  width: 700px;
}
.page-main .product .product-box .product-price {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.page-main .product .product-box .product-price .product-title {
  margin-top: 15px;
  font-size: 14px;
  line-height: 21px;
}
.page-main .product .product-box .product-price .product-message {
  margin-top: 15px;
  color: #e12228;
}
.page-main .product .product-box .product-price .price-area {
  margin-top: 10px;
  padding: 7px;
  line-height: 28px;
  background-color: #fee9ec;
}
.page-main .product .product-box .product-price .price-area .price-row::after {
  content: "";
  display: block;
  clear: both;
}
.page-main .product .product-box .product-price .price-area .price-row .price-title {
  float: left;
  margin-right: 15px;
}
.page-main .product .product-box .product-price .price-area .price-row .price-content {
  float: left;
}
.page-main .product .product-box .product-price .price-area .price-row .comment {
  float: right;
}
.page-main .product .product-box .product-price .price-area .price-row:first-child .price-content {
  color: #cc1122;
}
.page-main .product .product-box .product-price .price-area .price-row:first-child .price-content .price {
  font-size: 24px;
  font-weight: 700;
}
.page-main .product .product-box .product-price .price-area .price-row:first-child .price-content .icon {
  font-size: 16px;
}
.page-main .product .product-box .product-price .price-area .price-row:first-child .price-content .low {
  font-size: 12px;
}
.page-main .product .product-box .product-price .price-area .price-row:last-child {
  margin-top: 10px;
}
.page-main .product .product-box .product-price .price-area .price-row:last-child .price-content {
  width: 520px;
  color: #999;
}
.page-main .product .product-box .product-price .price-area .price-row:last-child .price-content .tag {
  padding: 3px;
  color: #fff;
  background-color: #c81623;
}
.page-main .product .product-box .product-price .support-row {
  display: flex;
  margin-top: 10px;
  line-height: 28px;
}
.page-main .product .product-box .product-price .support-row .support-title {
  margin-right: 15px;
}
.page-main .product .product-box .product-price .support-row .support-content {
  width: 520px;
  color: #999;
}
.page-main .product .product-box .product-options {
  margin-top: 10px;
  line-height: 28px;
}
.page-main .product .product-box .product-options .selected-box {
  display: flex;
  flex-wrap: wrap;
}
.page-main .product .product-box .product-options .selected-box .selected-tag {
  margin-right: 20px;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: snow;
  border: 1px solid #ddd;
}
.page-main .product .product-box .product-options .selected-box .selected-tag .close {
  margin-left: 20px;
  color: #f00;
  cursor: pointer;
}
.page-main .product .product-box .product-options dl {
  margin: 13px 0;
  display: flex;
}
.page-main .product .product-box .product-options dl dt {
  margin-right: 15px;
}
.page-main .product .product-box .product-options dl dd {
  cursor: pointer;
  margin-right: 5px;
  padding: 2px 14px;
  color: #666;
  line-height: 24px;
  border: 1px solid;
  border-color: #eee #bbb #bbb #eee;
}
.page-main .product .product-box .product-options dl dd.active {
  color: #f00;
}
.page-main .product .product-box .shopcart {
  display: flex;
}
.page-main .product .product-box .shopcart .nums {
  margin-right: 15px;
  width: 55px;
  position: relative;
}
.page-main .product .product-box .shopcart .nums input {
  width: 38px;
  height: 37px;
  text-align: center;
  color: #555;
  border: 1px solid #ddd;
  outline: none;
}
.page-main .product .product-box .shopcart .nums span {
  position: absolute;
  width: 15px;
  height: 18px;
  line-height: 18px;
  color: #666;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.page-main .product .product-box .shopcart .nums span.plus {
  top: 0;
}
.page-main .product .product-box .shopcart .nums span.minus {
  bottom: 0;
}
.page-main .product .product-box .shopcart .btn {
  padding: 0 25px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #e1251b;
}
.page-main .product .product-box .shopcart .btn:hover {
  text-decoration: none;
}
.page-main .product-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1200px;
  margin: 30px auto 0;
}
.page-main .product-section .product-sidebar {
  box-sizing: border-box;
  width: 210px;
  border: 1px solid #ccc;
}
.page-main .product-section .product-sidebar .tab-nav {
  height: 40px;
  display: flex;
  cursor: pointer;
}
.page-main .product-section .product-sidebar .tab-nav .tab-nav-item {
  width: 105px;
  line-height: 37px;
  border-top: 2px solid #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.page-main .product-section .product-sidebar .tab-nav .tab-nav-item.active {
  border-top-color: #e1251b;
  border-bottom-color: #fff;
}
.page-main .product-section .product-sidebar .tab-panel .tab-panel-item {
  padding: 10px;
  display: none;
}
.page-main .product-section .product-sidebar .tab-panel .tab-panel-item .cates {
  display: flex;
  flex-wrap: wrap;
}
.page-main .product-section .product-sidebar .tab-panel .tab-panel-item .cates li {
  width: 50%;
  border-bottom: 1px dashed #ededed;
  line-height: 28px;
}
.page-main .product-section .product-sidebar .tab-panel .tab-panel-item.active {
  display: block;
}
.page-main .product-section .product-sidebar .tab-panel .tab-panel-item .products li {
  margin: 5px 0 15px;
  border-bottom: 1px solid #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-main .product-section .product-sidebar .tab-panel .tab-panel-item .products li img {
  width: 152px;
}
.page-main .product-section .product-sidebar .tab-panel .tab-panel-item .products li p {
  width: 100%;
}
.page-main .product-section .product-sidebar .tab-panel .tab-panel-item .products li p.price {
  font-size: 16px;
  color: #c81623;
}
.page-main .product-section .product-sidebar .tab-panel .tab-panel-item .products li a {
  margin: 5px 0;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
  padding: 2px 14px;
  line-height: 18px;
}
.page-main .product-section .product-intro {
  width: 980px;
}
.page-main .product-section .product-intro .product-colloction {
  margin-bottom: 15px;
  border: 1px solid #ddd;
}
.page-main .product-section .product-intro .product-colloction .choose-title {
  padding: 5px 0 5px 15px;
  color: #333;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}
.page-main .product-section .product-intro .product-colloction .choose-content {
  padding-top: 10px;
  height: 170px;
  display: flex;
}
.page-main .product-section .product-intro .product-colloction .choose-content .master-product {
  position: relative;
  width: 127px;
  height: 165px;
  text-align: center;
}
.page-main .product-section .product-intro .product-colloction .choose-content .master-product::after {
  font-size: 16px;
  content: "+";
  display: block;
  position: absolute;
  top: 48px;
  right: -25px;
}
.page-main .product-section .product-intro .product-colloction .choose-content .master-product img {
  width: 87px;
  margin: 0 auto;
}
.page-main .product-section .product-intro .product-colloction .choose-content .master-product p {
  color: #c81623;
  font-size: 16px;
}
.page-main .product-section .product-intro .product-colloction .choose-content .choose-products {
  display: flex;
  width: 668px;
  height: 165px;
}
.page-main .product-section .product-intro .product-colloction .choose-content .choose-products li {
  margin: 0 20px;
  width: 127px;
  text-align: center;
}
.page-main .product-section .product-intro .product-colloction .choose-content .choose-products li img {
  width: 120px;
  height: 130px;
}
.page-main .product-section .product-intro .product-colloction .choose-content .total-products {
  margin-left: 10px;
  padding-left: 10px;
  width: 153px;
  height: 165px;
  border-left: 1px solid #ddd;
}
.page-main .product-section .product-intro .product-colloction .choose-content .total-products p {
  margin: 10px 0;
}
.page-main .product-section .product-intro .product-colloction .choose-content .total-products p span {
  font-weight: bolder;
}
.page-main .product-section .product-intro .product-colloction .choose-content .total-products #totalNumBox {
  font-size: 16px;
  color: #b1191a;
}
.page-main .product-section .product-intro .product-colloction .choose-content .total-products a {
  display: inline-block;
  padding: 10px 25px;
  font-size: 16px;
  color: #fff;
  background-color: #e1251b;
}
.page-main .product-section .product-intro .product-colloction .choose-content .total-products a:hover {
  text-decoration: none;
}
.page-main .product-section .product-intro .product-intro-tab .tab-nav {
  cursor: pointer;
  background-color: #ededed;
  display: flex;
  height: 40px;
  border-left: 1px solid #ddd;
}
.page-main .product-section .product-intro .product-intro-tab .tab-nav .tab-nav-item {
  border: 1px solid #ddd;
  border-left: none;
  background-color: #fff;
  line-height: 38px;
  text-align: center;
  padding: 0 11px;
}
.page-main .product-section .product-intro .product-intro-tab .tab-nav .tab-nav-item.active {
  background-color: #e1251b;
  color: #fff;
}
.page-main .product-section .product-intro .product-intro-tab .tab-panel .tab-panel-item {
  display: none;
}
.page-main .product-section .product-intro .product-intro-tab .tab-panel .tab-panel-item:first-child li {
  margin: 10px 0;
}
.page-main .product-section .product-intro .product-intro-tab .tab-panel .tab-panel-item.active {
  display: block;
}
